@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
<div id="root"> This is an index page </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/CustomerReact/dist/index.js"></script>
}



